import { Component, forwardRef, ViewEncapsulation } from '@angular/core';
import {
  CodeBlockActions,
  CodeBlockContent,
  CodeBlockCopy,
  CodeBlockDownload,
  CodeBlockHeader,
  CodeBlockLanguage,
} from './code-block-parts';
import { CodeBlockRoot } from './code-block-root';

/** Default code block composition. Project content to replace the preset. */
@Component({
  selector: 'ai-code-block',
  exportAs: 'aiCodeBlock',
  providers: [{ provide: CodeBlockRoot, useExisting: forwardRef(() => CodeBlock) }],
  imports: [
    CodeBlockHeader,
    CodeBlockLanguage,
    CodeBlockActions,
    CodeBlockContent,
    CodeBlockCopy,
    CodeBlockDownload,
  ],
  encapsulation: ViewEncapsulation.None,
  styleUrl: '../markdown/markdown.scss',
  template: `<ng-content>
    <div aiCodeBlockHeader>
      <span aiCodeBlockLanguage></span>
      <div aiCodeBlockActions>
        <button aiCodeBlockDownload></button><button aiCodeBlockCopy></button>
      </div>
    </div>
    <ai-code-block-content />
  </ng-content>`,
})
export class CodeBlock extends CodeBlockRoot {}
