:root {
  --background-color: #ffffff;
}

:host {
  display: block;
  height: min(100vh, var(--chat-container-width));
  width: min(100%, 68rem);
  margin: auto;
  overflow-y: auto;
  background: var(--background-color);
}

.chat-app {
  --chat-container-width: 1120px;

  height: 100dvh;
  min-height: 0;
  overflow-y: auto;
  width: max(96rem, min(var(--chat-container-width), 85vw));
}

.chat-conversation {
  width: fit-content;
  display: flex;
  padding-top: var(--padding-header);
}

.chat-scroll {
  width: 100%;
  max-width: 96rem;
  height: calc(100% - var(--padding-header) * 2px);
  min-height: 45vh;
  margin-bottom: 3.7vw;
  padding-top: clamp(8px, 3vmin + 0.3em, 2rem);
  display: flex;
  gap: var(--gap-message);
}

.empty-chat {
  min-height: calc(min(var(--chat-container-width), 45vh) - 160px);
  max-height: fit-content;
}

.message-row [class^='message'] {
  width: 92.8rem;
}
